In [1]:
%load_ext sql

In [1]:
%sql mysql+pymysql://root:Maykivu2023@127.0.0.1:3306/united_nations

UsageError: Line magic function `%sql` not found.

## SELECTING 10 ROWS FROM ACCESS TO BASIC SERVICES

In [3]:
%%sql
SELECT *
FROM
    united_nations.Access_to_Basic_Services
LIMIT 10;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
10 rows affected.

[('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2015, Decimal('94.67'), Decimal('98.00'), Decimal('17.542806'), Decimal('184.39'), Decimal('2699700.00'), Decimal('4.93')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2016, Decimal('94.67'), Decimal('98.00'), Decimal('17.794055'), Decimal('137.28'), Decimal('2699700.00'), Decimal('4.96')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2017, Decimal('95.00'), Decimal('98.00'), Decimal('18.037776'), Decimal('166.81'), Decimal('2699700.00'), Decimal('4.90')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2018, Decimal('95.00'), Decimal('98.00'), Decimal('18.276452'), Decimal('179.34'), Decimal('2699700.00'), Decimal('4.85')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2019, Decimal('95.00'), Decimal('98.00'), Decimal('18.513673'), Decimal('181.67'), Decimal('2699700.00'), Decimal('4.80')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2020, Decimal('95.00'), Decimal('98.00'), Decimal('18.755666'), Decimal('171.08'), Decimal('2699700.00'), Decimal('4.89')),
 ('Central and Southern Asia', 'Central Asia', 'Kyrgyzstan', 2015, Decimal('89.67'), Decimal('96.67'), None, None, None, None),
 ('Central and Southern Asia', 'Central Asia', 'Kyrgyzstan', 2016, Decimal('90.33'), Decimal('96.67'), None, None, None, None),
 ('Central and Southern Asia', 'Central Asia', 'Kyrgyzstan', 2017, Decimal('91.00'), Decimal('97.33'), None, None, None, None),
 ('Central and Southern Asia', 'Central Asia', 'Kyrgyzstan', 2018, Decimal('91.33'), Decimal('97.33'), None, None, None, None)]

# Connecting to chinook database by SQLITE

In [6]:
%sql sqlite:///chinook.db

'Connected: @chinook.db'

In [9]:
%%sql
SELECT
    FirstName,
    LastName,
    HireDate
FROM
    employees;

   mysql+pymysql://root:***@127.0.0.1:3306/united_nations
   sqlite:///
 * sqlite:///chinook.db
Done.

[('Andrew', 'Adams', '2002-08-14 00:00:00'),
 ('Nancy', 'Edwards', '2002-05-01 00:00:00'),
 ('Jane', 'Peacock', '2002-04-01 00:00:00'),
 ('Margaret', 'Park', '2003-05-03 00:00:00'),
 ('Steve', 'Johnson', '2003-10-17 00:00:00'),
 ('Michael', 'Mitchell', '2003-10-17 00:00:00'),
 ('Robert', 'King', '2004-01-02 00:00:00'),
 ('Laura', 'Callahan', '2004-03-04 00:00:00')]